[include]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/Code/"]
	path = ~/.gitconfig-work

[github]
	user = andreaskian

[core]
	excludesfile = ~/.gitignore

[fetch]
	prune = true

[pull]
	rebase = true

[init]
	defaultBranch = main
